body{
  background-color:white
}
h1 {
font: 90px;
color: green;
text-allign: center;
text-decoration: none;
margin:0;
padding:0;

}
#pages2 {
color:darkcyan;

}
#writings{
  color:rgb(140, 255, 140); 
  font-family: 'Times New Roman', Times, serif;
font: 50px
}
body{
  color:darkblue
}
nav{
  float: right
}
nav ul{
  margin:0;
  padding:0;
  list-style: none;
}
nav li{
  display: inline-block;
  margin-left: 70px;
  position: relative;
}
nav a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size:14px}
nav a:hover{
color:blue
}
